<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>GAME SKINS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container my-4">
    <h1>PLAYER SKIN</h1>
    <hr>
    <div class="container my-4">
        <br></br>
        <h1>SKIN ID NOT FOUND</h1>
        <h3>please, check the id and try again</h3>
        <br></br>


        <a th:href="@{/skins/myskins}" class="btn btn-lg btn-primary"> Skins List</a>
    </div>
</body>

</html>